.box {
  height: 450px;
  width: 450px;
  background-color: #de2e54;
  margin: 0 ;
margin  #de2e54;
margin: #de2e54;

  color: #ffffff;
  padding: 50px;
  box-sizing: border-box;
  border-width: 25px;
  border-style: solid;
  border-color: #000000;

}

.body{
  background-color: #ffffff;
}
.div{
  background-color: green;
}



.div2 {
  background-color: white;
}
.h1{
  background-color: white;
}

